<h1>Mission Statement for Finding Forest Society</h1>


<p>The objective for the Finding Forrest Society is to facilitate the search and rescue of individuals in Oceanside who wander away from safety due to conditions such as Alzheimer’s Dementia, Autism or Mental disability.</p>

<p>In conjunction with Project Life Saver www.projectlifesaver.org  individuals enrolled in the Finding Forest program are fitted with wrist or ankle bracelets containing radio frequency transmitters.  Our partners, Arrowsmith Search and Rescue will then be able to track these individuals through their unique radio frequency.</p>

<p>In areas already using this method of Search and Rescue the average recovery time is 30 minutes and has been 100% successful in bringing these individuals home safely.</p>

<p>A significant saving in time and expense is realized as well as the wellbeing of both clients and their caregivers.</p>

<p>As Oceanside is statistically the leading aged population for the whole of Canada, with over 65% of over 65 years.</p>

<p>Our aim is to keep this fragile  population who portray the specific problem of wandering, as safe as possible.</p>
