<div class="nav_button">
	<%= link_to_unless_current('Home', :action => 'index') %>
</div>
<div class="nav_button">
	<%= link_to_unless_current('About', :action => 'about') %>
</div>
<div class="nav_button">
	<%= link_to_unless_current('Contact Us', :action => 'index') %>
</div>
